body {
    background:  rgb(232, 237, 98);
}

.con1 {
    border: 2px solid rgb(29, 59, 21);
    width: 23%;
    height: 218px;
    float: left;
    box-sizing: border-box;
    position: relative;
  
}

.img {
    position: absolute;
}



