html, body, html {
    width: 100%;
    height: 100%;
}


h1 { 
    font-size:  2vw;
    color: rgb(255, 234, 0);
}

h2 { font-size: 2vw; color: yellow;} 

h3 {
    font-size:  1vw;
    color: rgb(255, 234, 0);
}

.con0 {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

.con1 {
    /* background-color: rgb(138, 203, 206); */
    width:  30%;
    height:  10vw;
    text-align: left;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.con1_0 {
    /* background-color: rgb(82, 119, 121); */
    width:  50%;
    position: relative ;
    left:  15%;
    top: 20%;
}

.con2 {
    /* background-color: rgb(234, 237, 145); */
    width:  40%;
    height:  10vw;
    display: flex; 
    float: left;
    box-sizing: border-box;
    position: relative;
}  

.con2_0 {
    background-color: rgb(10, 11, 2);
    border-radius:  50%;
    width:  50%;
    height:  30%;
    text-align: center;
    line-height: 5px;
    position: relative;
    left:  25%;
    top: 35%;
   
}  

.con3 {
    /* background-color: rgb(127, 218, 130); */
    width:  30%;
    height:  10vw;
    text-align: right;
    float: left;
    box-sizing: border-box;
    position: relative;
}   

.con3_0 {
    /* background-color: rgb(7, 180, 186); */
    width:  50%;
    position: relative ;
    left:  35%;
    top: 20%;
}

.con4 {
    /* background-color: rgb(52, 94, 94); */
    width:  30%;
    height:  29vw;
    text-align: center;
    float: left;
    box-sizing: border-box;
    position: relative;
}  

.con4_0 {
    background-color: rgb(40, 53, 232);
    width:  30%;
    height:  18vw;
    position:  absolute;
    right:  33%;
    top:  27%;
}

.con4_1 {
    background-color: rgb(5, 21, 2);
    width:  30%;
    height:  18vw;
    position:  absolute;
    right:  35%;
    top:  25%;
    

}
   
.con5 {
    border: 2px solid rgb(0, 55, 255); 
    border-radius:  3%;
    background-color: rgb(15, 15, 15);
    width:  40%;
    height:  29vw;
    float: left;
    box-sizing: border-box;
    position: relative;
}  

.con6 {
    /* background-color: rgb(52, 94, 94); */
    width:  30%;
    height:  29vw;
    text-align: center;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.con6_0 {
    background-color: rgb(7, 7, 241);
    width:  30%;
    height:  16vw;
    position:  absolute;
    right:  33%;
    top:  27%;
}

.con6_1 {
    background-color: rgb(5, 15, 2);
    width:  30%;
    height:  16vw;
    position:  absolute;
    right:  35%;
    top:  25%;

}
   
.con7 {
    /* background-color: rgb(203, 171, 120); */
    width:  30%;
    height:  10vw;
    text-align: left;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.con7_0 {
    /* background-color: rgb(82, 119, 121); */
    width:  50%;
    position: relative ;
    left:  15%;
    bottom: 10%;
}


.con8 {
    /* background-color: rgb(234, 237, 145); */
    width:  40%;
    height:  10vw;
    display: flex; 
    float: left;
    box-sizing: border-box;
    position: relative;
} 

.con8_0 {
    background-color: rgb(10, 11, 2);
    border-radius:  50%;
    width:  50%;
    height:  30%;
    text-align: center;
    line-height: 5px;
    position: relative;
    left:  25%;
    top: 30%;
}  

.con9 {
    /* background-color: rgb(72, 223, 223); */
    width:  30%;
    height:  10vw;
    text-align: right;
    float: left;
    box-sizing: border-box;
    position: relative;
} 

.con9_0 {
    /* background-color: rgb(82, 119, 121); */
    width:  50%;
    position: relative ;
    left: 35%;
    bottom: 10%;
}


#img {
    width:  100%;
    height:  49vw;
    position:  absolute;
}

.i {
    border-radius:  3%;
    width:  100%;
    height: 100%;
    position:  absolute;
    opacity:  0;
    transition:  all ease 3s;
    float: left;
        
}

.opacity_1 {
    opacity: 1
}

@media (min-width: 1020px) and (max-width: 1030px) {
    
    h1 { 
        font-size: 3vw;
        color: rgb(245, 225, 6);
        line-height: 10px;
    }

    h2 {
        font-size:  100%;
    color: rgb(242, 255, 0);

    }

    h3 {
    font-size:  100%;
    color: rgb(242, 255, 0);
    }
    .con1, .con2, .con3, .con7, .con8, .con9  {
        height:  20vw;
        }
    
    .con2_0 { 
         border-radius:  50%;
         width: 60%;
         height:  5vw; top: 7vw;
         left: 8vw;
        } 

    .con4_0 { height: 14vw; }      

    .con4_1 { height: 14vw; } 
    
    .con6_0 { height: 14vw; }      

    .con6_1 { height: 14vw; }    
        
    .con7_0 {
        top: 5vw;
    }    
        
    .con8_0 { 
        border-radius:  50%;
        width: 60%;
        height:  5vw; top: 7vw;
        left: 8vw;
        }  
        
    .con9_0 {
        top: 5vw;
    }        

    #img {
        height:  70vw;
    }

    }

    @media (max-width: 450px) {

        h1 { font-size: 6vw;
               color: rgb(245, 225, 6);
               line-height: 5px;
        }  
        
        h2, h3, h4 {
            font-size:  3vw;
            color: rgb(245, 225, 6);
            }
        
        .con1 { order: -9; width: 50%; height: 35vw;}
        .con1_0 { top: 15%; }

        .con2 { order: -7; width: 100%; height: 20vw;}
        .con2_0 { left: 25%; height: 10vw; top: 0vw;}
 
        .con3 { order: -8; width: 50%; height: 35vw;}
        .con3_0 { top: 15%; }

        .con4 { order: -4; width: 50%; height: 50vw;}
        .con4_0 { width: 20vw; height: 30vw;  right:  27%; top:  17%;}
        .con4_1 { width: 20vw;   height: 30vw;  right:  30%; top:  15%; }

        .con5 { order: -6; width:  88%; height:  66vw; right: -6%; }

        .con6 { order: -3; width: 50%; height: 50vw;}
        .con6_0 { width: 20vw;   height: 30vw;  right:  27%; top:  17%;}
        .con6_1 { width: 20vw;  height: 30vw; right:  30%; top:  15%;}


        .con7 { order: -2; width: 50%; }
        .con7_0 {bottom: 10%;}

        .con8 { order: -5; width: 100%; height: 20vw;}
        .con8_0 { left: 25%; height: 10vw; top: 10vw;}

        .con9 { order: -1; width: 50%; }
        .con9_0 {bottom: 10%;}

        #img { width:  100%; height:  220vw; position:  absolute; }
        
    }


